.app-highlight {
  border-radius: 4px;
  padding: 0.8em 1.6em;

  .icon {
    height: 1.2em;
    padding-right: 0.313em;
  }

  .html {
    font: {
      size: 0.9em;
      weight: 400;
    };
    color: #666666;
  }
}
